@charset "utf-8";
/* CSS Document */
body{
    background: url(../img/background.jpg);
    overflow-x: hidden;
    font-family: arial, helvetica, sans-serif;

}
.nav{
    position: fixed;
    background-color: rgba(148,214,131, 0.5);      
}

.navbar a{
    color: #FFF;
}

.navbar a:hover{
    color: rgb(148,214,131);
    font-weight: bold;
}

.conteudo_meio{
    background: url(../img/img_home.png) no-repeat;
    background-size:cover;
    padding-top: 401px;
}
.esquerdo_inferior{
    float: left;
    width: 47%;
    padding: 0 1.7em 1.7em 1.7em;
    border: 1px solid #000;
    background-color: rgb(148,214,131);
    margin: 5px;
}

.direito_inferior{
    padding: 0 1.7em 1.7em 1.7em;
    border: 1px solid #000;
    float:right; 
    width: 47%;
    background-color: rgb(148,214,131);
    background-size: 100%;
    margin: 5px;
}

.rodape{
    margin: auto;
    width: 100%;
    bottom: 0;
    margin: 5px 0px 0px 450px;

}


.texto_empresa{
    padding: 0.3em 1.7em 1.7em 1.7em;
    background-color: rgb(148,214,131);
    text-align:justify;
    margin: 0px 0px 0px 15px;  
}.texto_empresa h1{
    text-align: center;
    font-weight: bold;
}

.texto_noticias{
    padding: 0.3em 1.7em 1.7em 1.7em;
    background-color: rgb(148,214,131);
    text-align:justify;
}.texto_noticias h1{
    text-align: center;
    font-weight: bold;
}


.texto_servicos{
    padding: 0.3em 1.7em 1.7em 1.7em;
    background-color: rgb(148,214,131);
    text-align:justify;
}.texto_servicos h1{
    text-align: center;
    font-weight: bold;
}

.footer{
    background-color: rgb(148,214,131);
    text-align-last:center;
}